.title {
    composes: title from '@dojo/themes/dojo/title-pane.m.css';
}

.closeable {
    composes: closeable from '@dojo/themes/dojo/title-pane.m.css';
}

.arrow {
    composes: arrow from '@dojo/themes/dojo/title-pane.m.css';
}

.root {
    composes: root from '@dojo/themes/dojo/title-pane.m.css';
}

.open {
    composes: open from '@dojo/themes/dojo/title-pane.m.css';
}

.content {
    composes: content from '@dojo/themes/dojo/title-pane.m.css';
    border: 0;
}

.titleButton {
    composes: titleButton from '@dojo/themes/dojo/title-pane.m.css';
    border: 0;
    margin:2px;
}

.contentTransition {
    composes: contentTransition from '@dojo/themes/dojo/title-pane.m.css';
}
