.root {
    composes: root from '../../../../../../node_modules/@dojo/themes/dojo/grid-cell.m.css';
}

.input {
    composes: input from '../../../../../../node_modules/@dojo/themes/dojo/grid-cell.m.css';

}

.edit {
    composes: edit from '../../../../../../node_modules/@dojo/themes/dojo/grid-cell.m.css';

}
