.root {
    composes: root from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';
}

.cell {
    composes: cell from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';

}

.sortable {
    composes: sortable from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';

}

.sorted {
    composes: sorted from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';
}

.desc {

}

.asc {

}

.sort {
    composes: sort from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';
}

.filter {
    composes: filter from '../../../../../../node_modules/@dojo/themes/dojo/grid-header.m.css';
}
