html, body {
    background-color: lightgray;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.heightAndWidth100 {
    height:100%;
    width:100%
}

.columnLabel {
    text-align: center;
    font-weight: normal;
    line-height: 1.2;
    font-size: 20px;
    margin-top: 20px;
}

.menuColumn {

}

.contentColumn {
    min-height: 100%;
    padding-left:20px;
    padding-right:20px;
}

.navbar {
    width: 100%;
    flex: 0 1 58px;
    display: flex;
}

.outerContentContainer {
    max-width:90%;
    min-height: fit-content;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.contentContainer {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    padding-right: 20px;
    min-width: fit-content;
    min-height: 100%;
}

.navLogo {
    max-height: 30px;
    margin-left: 12px;
}



