.root {
    composes: root from '../../../../../../node_modules/@dojo/themes/dojo/grid.m.css';
}

.header {
    composes: root from '../../../../../../node_modules/@dojo/themes/dojo/grid.m.css';
}

.filterGroup {
    composes: root from '../../../../../../node_modules/@dojo/themes/dojo/grid.m.css';
}
